@font-face {
	font-family: bannerfont;
	src: url(fonts\great_vibes\GreatVibes-Regular.otf);
}

@font-face {
	font-family: luxuryfont;
	src: url(fonts\cinzel\Cinzel-Bold.ttf);
}

@font-face {
	font-family: Newfont;
	src: url(fonts\Pacifico\Pacifico-Regular.ttf);
}
.banner-font {
	color:white;
	font-family:'Newfont';
	font-weight: bolder;
	
}

.navbar-dark .navbar-brand {
    color: black;
}

*
{
padding:0;
margin:0;
}
body
{
overflow-x:hidden;
font-family:'PT Sans', sans-serif;
}
.section-container
{
--bs-gutter-x: 1.5rem;
--bs-gutter-y: 0;
display: flex;
flex-wrap: wrap;
}
.section-container .columns
{
flex:0 0 auto;
width:50%;
}
.section-container .columns.image
{
background-position:center;
background-repeat:no-repeat;
background-size:cover;
}
.section-container .columns.content .content-container
{
padding:40px 50px;
}
.section-container .columns.content .content-container h5
{
text-align: center;	
color: sienna;
font-weight:700;
font-size: 70px;
margin-bottom:20px;
}
.section-container .columns.content .content-container p
{
font-weight:400;
font-size:16px;
margin-bottom:20px;
margin-bottom:15px;
text-align:justify;
}
@media screen and (max-width:767px)
{
.section-container
{
flex-flow:row wrap;
}
.section-container .columns.image{
display:block;
order:1;
width:100%;
height:250px;
}
.section-container .columns.content
{
display:block;
order:2;
width:100%;
}
.section-container .columns.content .content-container
{
padding:20px 35px;
}
.section-container .columns.content .content-container h5
{
margin-bottom:5px;
}
}
  

/* divider  */
.h-divider {
	margin: auto;
	margin-top: 80px;
	width: 80%;
	position: relative;
  }
  
  .h-divider .shadow {
	overflow: hidden;
	height: 20px;
  }
  
  .h-divider .shadow:after {
	content: '';
	display: block;
	margin: -25px auto 0;
	width: 100%;
	height: 25px;
	border-radius: 125px/12px;
	box-shadow: 0 0 8px black;
  }
  
  /* .h-divider .text {
	width: 100px;
	height: 45px;
	padding: 10px;
	position: absolute;
	bottom: 100%;
	margin-bottom: -33px;
	left: 50%;
	margin-left: -60px;
	border-radius: 100%;
	
  } */

  .text{
	font-size: 30px;
	margin-top: 5%;
    text-align: center;
  }
 
   
  .h-divider .text2 {
	width: 70px;
	height: 70px;
	position: absolute;
	bottom: 100%;
	margin-bottom: -35px;
	left: 50%;
	margin-left: -25px;
	border-radius: 100%;
	/* box-shadow: 0 2px 4px #999; */
	color: gold;
	background: gold;
  }
  
  .h-divider img {
	position: absolute;
	margin: 4px;
	max-width: 60px;
	border-radius: 100%;
	/* border: 1px dashed #aaa; */
  }




/* Final section */

.section-3{
    min-width: 100%;
    min-height: 100%;
    /* padding: 30px 30px 10px; */
    background-color: var(--bg-1);
    text-align: center;
    margin-bottom: 70px;

}
.card-title{
    margin-bottom: 25px;
}
.card-img-rounded{
    width: 200px;
}



/* third section */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat";
}
section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
 
}
.container {
  width: 90%;
  max-width: 1000px;
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left {
    margin-top: 10%;
  width: 50%;
  height: 600px;
  background: url(../img/reception.jpg)
    no-repeat center / cover;
  border-radius: 8px;
}
.right {
  width: 50%;
  min-height: 400px;
  background-color: purple;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 8px;
  color: white;
  margin-left: -150px;
}
.right h1 {
  font-size: 40px;
  font-weight: lighter;
}
.right p {
  margin: 20px 0;
  font-weight: 500;
  line-height: 25px;
}
.right a {
  text-decoration: none;
  text-transform: uppercase;
  background-color: white;
  color: black;
  padding: 20px 30px;
  display: inline-block;
  letter-spacing: 2px;
}

 @media only screen and (max-width: 768px) {
 #thirdSec .container {
    flex-direction: column;
    width: 100%;
    margin: 0 20px;
  } 
   .left {
    width: 100%;
    height: 400px;
  } 
   .right {
    width: 90%;
    margin: 0;
    margin-top: -100px;
  }
}


/* Footer  */
@import url(https://fonts.googleapis.com/css?family=Titillium+Web);
@import url(https://fonts.googleapis.com/css?family=Bitter:700); 

@font-face {
	font-family: 'icomoon';
	src:url('http://bweblog.fr/footer1/fonts/icomoon.eot');
	src:url('http://bweblog.fr/footer1/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('http://bweblog.fr/footer1/fonts/icomoon.woff') format('woff'),
		url('http://bweblog.fr/footer1/fonts/icomoon.ttf') format('truetype'),
		url('http://bweblog.fr/footer1/fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

html, body, div, span, iframe, ul, li, form, label, footer {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

footer{
	display: block;
}
body {
	line-height: 1;
}

a{
	text-decoration:none;
}

.inner:after{
	content:"";
	display:block;
	clear:both;
}
input:focus,select:focus,textarea:focus,a:focus,select:focus,option:focus{
	outline:none;
}
.footer1 .ff-1{
	font-family: 'Titillium Web', sans-serif;
}
.footer1 .ff-2{
	font-family: 'Bitter', serif;
}
/*------------FONT COLOR----------------*/
  .footer1 .fc-1,.footer1 .fc-1 a{
	color:#000;
}
.footer1 .menu.fc-1 li a:hover {
	color: #000;
}

.footer1 .fc-2, .footer1 .fc-2 a{
	color: #dedede;
}

.footer1 .fc-3, .footer1 .fc-3 a{
	color: #444;
}

.footer1 .fc-2 a:hover {
	color: #fff;
} 
/*-----------BACKGROUND-----------*/
 
.footer1 .fc-4{
	color: #00bacc;
}

.footer1 .check:checked + label[for=check]:before {
	background: rgba(61, 61, 61, 1);
}

.footer1 .bloc-info li:before{
	color: #444;
}

.footer1 .bg-2{
	background: rgba(61, 61, 61, 1);

}
.footer1 .bg-3{
	background-color: sienna;
} 

/*-----------INNER--------------------*/
.footer1 .inner{
	width:950px;
	
} 

/*----------IFRAME---------------------*/

.footer1 iframe{
	width: 100%;
	height: 450px;
  margin-bottom: -3em;
}

body{
	overflow-x:hidden;
}

.footer1 {
width: 100%;
}

.footer1 .inner {
	display: table;
  margin: -0.1em auto 0;
}

.footer1 .topbar {
	font-size: 1.5em;
	height: 3em;
}

.footer1 .topbar p {
	width: 100%;
	text-align: center;
	line-height: 3em;
}

.footer1 .calcul-itineraire{
	position: relative;
	width: 66.66%;
	z-index: 1;
}

.footer1 .calcul-itineraire{
	line-height: 2.6em;
	text-indent: 1em;
	font-size: 1.2em;
	height: 2.6em;	
}

.footer1 input[type=submit]{
	font-family: 'icomoon';
	position: absolute;
	right: 5%;
	font-size: 1.7em;
	background: none;
	border:none;
	margin-top: -1.3em;
	cursor: pointer;
	
}

.footer1 input[type=submit]:active,.footer1 input[type=submit]:focus, .footer1 input[type=submit]:hover{
color: rgba(255,255,255,0.5);
}

.footer1 .fond-footer {
	width: 100%;
	height: auto;
}


.footer1 .bloc-info{
	width: 60%;
	position: relative;
	display: table-cell;
	text-align: left;
	line-height: 5px;
	padding: 3em 0em 3em 0em;

}

.footer1 .clb{
	clear: both;
}

.footer1 .bloc-info .title{
	margin-bottom: 1em;
	margin-left: 20px;
}

.footer1 .bloc-info p{
	margin-bottom: 2rem;
	line-height: 1.2em;
}

.footer1 .bloc-info li{
display : list-item;
list-style: none;
line-height: 1.3em;
-webkit-transition: all 100ms cubic-bezier(0.420, 0.000, 0.580, 1.000); 
-moz-transition: all 100ms cubic-bezier(0.420, 0.000, 0.580, 1.000); 
-ms-transition: all 100ms cubic-bezier(0.420, 0.000, 0.580, 1.000); 
-o-transition: all 100ms cubic-bezier(0.420, 0.000, 0.580, 1.000); 
transition: all 100ms cubic-bezier(0.420, 0.000, 0.580, 1.000); /* ease-in-out */
}
 

 .footer1 .bloc-info li:hover{
	background-color:rgba(0,0,0,0.1);
	padding: 0.1em;
	font-size: 1.2em;
}

.footer1 .bloc-info li:before{
	content:'>';
	margin-right: 0.5em;
	font-family: 'icomoon';
}

.footer1 .bg-bloc1{
	
	overflow: hidden;

}

.footer1 .bg-bloc2{
	background-color:rgba(0,0,0,0.05);
	overflow: hidden;

}

.footer1 .bg-bloc3{

	overflow: hidden;

}

.footer1 .bg-bloc1:before{
	
	font-family: 'icomoon';
	position: absolute;
	color: rgba(255, 255, 255, 0.1);
	font-size: 15em;
	right: -0.40em;
	top: 0.0em;
}

.footer1 .bg-bloc2:before{
	
	font-family: 'icomoon';
	position: absolute;
	color:rgba(255,255,255,0.1);
	font-size: 10em;
	right: -0.20em;
	top: 0.3em;
}

.footer1 .bg-bloc3:before{
	
	font-family: 'icomoon';
	position: absolute;
	color:rgba(255,255,255,0.1);
	font-size: 8em;
	right: -0.18em;
	top: 0.4em;
}

.footer1 .input-1{
	display: none;
}
.footer1 .check:checked ~ .input-1 {
	display: block;
	position: absolute;
	top: 0;
}

.footer1 .check:checked + label[for=check] {
	visibility: hidden;
}

.footer1 .check:checked + label[for=check]:before {
visibility: visible;
margin-left: -2.5em;
padding: 0.81em 0.3em 0.8em 0.6em;
font-family: 'icomoon';
}

.footer1 .arrow{
	font-family: 'icomoon';
}

.footer1 .show{
	display: inline-block;
	margin-left: -0.7em;
}
.footer1 .input-1 input{
	padding: 0.3em 1em 0.3em 1em;
	border: none;
	font-size: 1em;
}

.footer1 .input-1 input:active,.footer1 .input-1 input:focus{
	background-color:rgba(255,255,255,0.05);
}

.footer1 .check{
	position: absolute;
	left: -9999px;
}

.footer1 .check + label{
	z-index: 2;
	display: block;
	position: relative;
}

.footer1 label{
	cursor: pointer;
} 

/*MEDIA QUERIES*/

 @media screen and (max-width:1005px) {
.footer1 .check:checked + label[for=check]:before {
margin-left:-1em;
position: relative;
top: -2em;
padding: 0.5em 0.6em 0.5em 0.5em;
}
}

@media screen and (max-width:950px) {
.footer1 .calcul-itineraire {
width: 100%;
}
  
.footer1 .inner{
width: 100%;
}
}


@media screen and (max-width:680px) {
.footer1 .bloc-info{
width: 100%;
display: block;
}

.footer1 .inner{
display: block;
}
}

@media screen and (max-width:400px) {
.footer1 iframe{
	width: 100%;
	height: 350px;
}
}



.footer1 i{
	margin-left: 1rem;
	padding: 7px  7px;
}

.footer1 i:hover{
	color: #fff;

} 




